<?xml version="1.0"?>
<ruleset name="MusicQuizMaker">
	<description>Mentosmenno2 Music Quiz Maker Ruleset</description>
	<config name="testVersion" value="7.1-"/>

	<file>./app</file>

	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="PHPCompatibility"/>
	<rule ref="Mentosmenno2-Laravel"/>

</ruleset>
