.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto {
	padding-left: $gutter/2;
	padding-right: $gutter/2;
}

/**
*
* Columns default
*
**/

.col-auto {
	width: auto;
}

.col-1 {
	width: 8.333333%;
}

.col-2 {
	width: 16.666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.333333%;
}

.col-5 {
	width: 41.666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.333333%;
}

.col-8 {
	width: 66.666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.333333%;
}

.col-11 {
	width: 91.666667%;
}

.col-12 {
	width: 100%;
}

/**
*
* Columns from breakpoint-sm and up
*
**/

.col-sm-auto {
	@include breakpoint-sm {
		width: auto;
	}
}

.col-sm-1 {
	@include breakpoint-sm {
		width: 8.333333%;
	}
}

.col-sm-2 {
	@include breakpoint-sm {
		width: 16.666667%;
	}
}

.col-sm-3 {
	@include breakpoint-sm {
		width: 25%;
	}
}

.col-sm-4 {
	@include breakpoint-sm {
		width: 33.333333%;
	}
}

.col-sm-5 {
	@include breakpoint-sm {
		width: 41.666667%;
	}
}

.col-sm-6 {
	@include breakpoint-sm {
		width: 50%;
	}
}

.col-sm-7 {
	@include breakpoint-sm {
		width: 58.333333%;
	}
}

.col-sm-8 {
	@include breakpoint-sm {
		width: 66.666667%;
	}
}

.col-sm-9 {
	@include breakpoint-sm {
		width: 75%;
	}
}

.col-sm-10 {
	@include breakpoint-sm {
		width: 83.333333%;
	}
}

.col-sm-11 {
	@include breakpoint-sm {
		width: 91.666667%;
	}
}

.col-sm-12 {
	@include breakpoint-sm {
		width: 100%;
	}
}

/**
*
* Columns from breakpoint-md and up
*
**/

.col-md-auto {
	@include breakpoint-md {
		width: auto;
	}
}

.col-md-1 {
	@include breakpoint-md {
		width: 8.333333%;
	}
}

.col-md-2 {
	@include breakpoint-md {
		width: 16.666667%;
	}
}

.col-md-3 {
	@include breakpoint-md {
		width: 25%;
	}
}

.col-md-4 {
	@include breakpoint-md {
		width: 33.333333%;
	}
}

.col-md-5 {
	@include breakpoint-md {
		width: 41.666667%;
	}
}

.col-md-6 {
	@include breakpoint-md {
		width: 50%;
	}
}

.col-md-7 {
	@include breakpoint-md {
		width: 58.333333%;
	}
}

.col-md-8 {
	@include breakpoint-md {
		width: 66.666667%;
	}
}

.col-md-9 {
	@include breakpoint-md {
		width: 75%;
	}
}

.col-md-10 {
	@include breakpoint-md {
		width: 83.333333%;
	}
}

.col-md-11 {
	@include breakpoint-md {
		width: 91.666667%;
	}
}

.col-md-12 {
	@include breakpoint-md {
		width: 100%;
	}
}

/**
*
* Columns from breakpoint-lg and up
*
**/

.col-lg-auto {
	@include breakpoint-lg {
		width: auto;
	}
}

.col-lg-1 {
	@include breakpoint-lg {
		width: 8.333333%;
	}
}

.col-lg-2 {
	@include breakpoint-lg {
		width: 16.666667%;
	}
}

.col-lg-3 {
	@include breakpoint-lg {
		width: 25%;
	}
}

.col-lg-4 {
	@include breakpoint-lg {
		width: 33.333333%;
	}
}

.col-lg-5 {
	@include breakpoint-lg {
		width: 41.666667%;
	}
}

.col-lg-6 {
	@include breakpoint-lg {
		width: 50%;
	}
}

.col-lg-7 {
	@include breakpoint-lg {
		width: 58.333333%;
	}
}

.col-lg-8 {
	@include breakpoint-lg {
		width: 66.666667%;
	}
}

.col-lg-9 {
	@include breakpoint-lg {
		width: 75%;
	}
}

.col-lg-10 {
	@include breakpoint-lg {
		width: 83.333333%;
	}
}

.col-lg-11 {
	@include breakpoint-lg {
		width: 91.666667%;
	}
}

.col-lg-12 {
	@include breakpoint-lg {
		width: 100%;
	}
}

/**
*
* A 5 column layout is weird, but sometimes designers are weird.
* To force this weird column layout use the class below.
*
*/

.col-force-5 {
	width: 20%;
}

.col-sm-force-5 {
	@include breakpoint-sm {
		width: 20%;
	}
}

.col-md-force-5 {
	@include breakpoint-md {
		width: 20%;
	}
}

.col-lg-force-5 {
	@include breakpoint-lg {
		width: 20%;
	}
}
