// $default-padding
//
// The default padding variable
//
// $default-padding: 30px;
//
// Styleguide _Nuclides.Variables.Default padding
$default-padding: 30px;

// $gutter
//
// The default gutter variable, used for the grid
//
// $gutter: 30px;
//
// Styleguide _Nuclides.Variables.Gutter
$gutter: 30px;

// $time
//
// The default animation time variable
//
// $time: 300ms;
//
// Styleguide _Nuclides.Variables.Time
$time: 300ms;

// $container-tablet
//
// The container tablet-portrait width (@breakpoint-sm)
//
// $container-tablet: 720px;
//
// Styleguide _Nuclides.Variables.Container Tablet
$container-tablet: 720px;

// $container-desktop-small
//
// The container tablet-landscape width (@breakpoint-md)
//
// $container-desktop-small: 960px;
//
// Styleguide _Nuclides.Variables.Container Desktop Small
$container-desktop-small: 960px;

// $container-desktop-large
//
// The container desktop width (@breakpoint-lg)
//
// $container-desktop-large: 1170px;
//
// Styleguide _Nuclides.Variables.Container Desktop Large
$container-desktop-large: 1170px;

// $input-height
//
// The default height of an input element
//
// $input-height: 55px;
//
// Styleguide _Nuclides.Variables.Input Height
$input-height: 55px;

// $admin-bar
//
// The default height of the WP admin bar
//
// $admin-bar: 32px;
//
// Styleguide _Nuclides.Variables.WP Adminbar
$admin-bar: 32px;
